apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app: app
spec:
  selector:
    matchLabels:
      app: app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  replicas: {{ ternary 1 0 .Values.enabled }}
  template:
    metadata:
      labels:
        app: app
    spec:
      terminationGracePeriodSeconds: 10
      imagePullSecrets:
        - name: diploi-pull-secret
      initContainers:
        - name: create-db
          image: postgres:17.2
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          env:
            - name: PGPASSWORD
              value: "{{ .Values.envMap.DB_POSTGRESDB_PASSWORD.value }}"
          command:
            - sh
            - -c
            - |
              set -e

              echo "Checking if database exists..."

              if psql -h {{ .Values.envMap.DB_POSTGRESDB_HOST.value }} \
                      -U {{ .Values.envMap.DB_POSTGRESDB_USER.value }} \
                      -d postgres \
                      -w \
                      -tc "SELECT 1 FROM pg_database WHERE datname='{{ .Values.envMap.DB_POSTGRESDB_DATABASE.value }}'" \
                      | grep -q 1; then
                  echo "Database '{{ .Values.envMap.DB_POSTGRESDB_DATABASE.value }}' already exists, exiting initContainers."
                  exit 0
              fi

              echo "Database '{{ .Values.envMap.DB_POSTGRESDB_DATABASE.value }}' does not exist. Creating..."
              psql -h {{ .Values.envMap.DB_POSTGRESDB_HOST.value }} \
                  -U {{ .Values.envMap.DB_POSTGRESDB_USER.value }} \
                  -d postgres \
                  -w \
                  --connect-timeout=3 \
                  -c "CREATE DATABASE {{ .Values.envMap.DB_POSTGRESDB_DATABASE.value }}"
      containers:
        - name: app
          image: {{ .Values.images.app }}
          imagePullPolicy: Always
          ports:
            - containerPort: 5678
          env:
            {{- range .Values.env }}
            - name: {{ .identifier }}
              value: {{ .value | quote }}
            {{- end }}
            - name: APP_PUBLIC_URL
              value: {{ .Values.hosts.app }}
            - name: WEBHOOK_URL
              value: https://{{ .Values.hosts.app }}
            - name: STAGE
              value: {{ .Values.stage }}